@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    margin: 0 auto;
}

.sobreNos{
    display: flex;
    justify-content: space-around;

    margin: 0 5% 0 0; 
    gap: 15px;

    padding-top: 25%;
    padding-bottom: 10%;
}

.sobreNos h1{
    padding-bottom: 40px;
}

.boxTexto{
    text-align: start;
 
    align-self: center;

    padding: 5%;
    padding-bottom: 3%;
}

.porqueLifeLine{
    background-color: #efeeeec1;
    padding: 5%;
}

.boxMotivo{
    display: flex;
    gap: 20px;
}

.boxes{
    margin: 0 10% 0 10%;
}

.cardMotivo{
    background-color: white;
    padding: 25px;
}

.tituloPqLifeLine{
    text-align: center;
    margin: 0 10% 0 10%;
}

#spanPorque{
    font-size: 25px;
    font-weight: 500;
}

#destaqueLL{
    color: #6DB5C5;
}

.tituloPqLifeLine p{
    font-weight: 300;
}