@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    /* background-image: url("../assets/images/image\ 1.png"); */
}

/* Inicio da estilização da header */
.bemvindo{
background-image: url("../assets/images/image\ 1.png");
background-repeat: no-repeat;
background-size: contain;
position: relative;
height: 711px;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding: 2%;
    color: rgb(255, 255, 255);
}

.logoHeader{
    display: flex;
    color: rgb(255, 255, 255);
}

.logoHeader h1{
    align-self: center;
}

#imagemLogo{
    width: 100px;
}

.itensHeader{
    display: flex;
    gap: 20px;
    list-style: none;
    cursor: pointer;
    align-items: center;
}
/* Fim da estilização da header */

/* Inicio da estilização da home */

.containerHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    color: rgb(255, 255, 255);
    font-size: 60px;
}

.containerHome .subtituloHome{
    font-size: 20px;
    font-weight: 10px;
    padding-top: 20px;

}

.containerHome .botoesHome .botao{
    height: 40px;
    width: 220px;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 20px;
    cursor: pointer;

}

.blocos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocos .bloco{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Fim da estilização da home */