.lifeLineTeam {
  background-color: #6db5c5;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  color: white;
}

.headerTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.detalhesTeam {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.escolhaMembroTeam {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.membroTeam {
  display: flex;
  align-items: center;
  gap: 30px;
}

#fotoMembroTeam {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.arrow {
  cursor: pointer;
  height: max-content;
}

.descricaoAreaTeam {
  width: 347px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
