@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root{
    --clr-navbar-background: #6DB5C5;
    --clr-backgroud: #e1e7eb;
    --clr-sidebar: #f0fafa;

}

@keyframes pop-out {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-dash{
    width: 100%;
    display: flex;
}

.side-bar{
    background-color:var(--clr-sidebar);
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-logo{
    width: 200px;
}

.botoes-sidebar{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.botao-sidebar{
    background-color: var(--clr-navbar-background);
    padding: 10px;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    box-shadow:0px 5px  white;
    color: white;
    text-decoration: none;

    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
}

.botao-sidebar:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-out;
    top: -4px;
    z-index: 500;
}

.container-dash{
    background-color: var(--clr-backgroud);
    width: 85%;
  
}

.navbar{
    background-color:var(--clr-sidebar);
    height: 70px;
    width: 100%;
    margin-bottom: 15px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding: 2%;
    gap: 30px;
}

.pop-out{
    animation-name: pop-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.container-kpis{
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    margin-left: 5%;
}

.boxKpi{
    background-color: var(--clr-navbar-background);
    height: 120px;
    padding: 10px;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    text-align: center;
   
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.kpiIndicador{
    width: 200px;
}

.kpiFrase{
    width: 350px;
}

.container-graficos{
    padding: 5%;
}
.box-graficos{
    display: flex;
    justify-content: center;
    gap: 55px;
}

.grafico{
    width: 450px;
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #33919a;
}

.grafico h2{
    color:#33919a;
    text-align: center;
    
}

