@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #80b6c2;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
    background-color: rgba(255, 0, 0, 1);
  } 25% {
    transform: translateX(-10px);
    background-color: rgba(255, 0, 0, 0.8);
  } 50% {
    transform: translateX(10px);
    background-color: rgba(255, 0, 0, 0.6);
  } 75% {
    transform: translateX(-10px);
    background-color: rgba(255, 0, 0, 0.4);
  } 100% {
    transform: translateX(0px);
    background-color: rgba(255, 0, 0, 0.2);
  }
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  height: 40%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.formulario .form {
  width: 250px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  background-color: #80b6c2;
  color: white;
  border: 0;
  outline: 0;
}
.form:focus {
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.formulario input::placeholder {
  color: white;
}

.formulario .checkbox {
  display: flex;
}

.formulario .box {
  cursor: pointer;
}

.animacaoErro {
  animation: shake 0.7s ease-in-out;
}

.formulario .entrar {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  color: #80b6c2;
  border: .98px solid;
  border-color: #80b6c2;
  cursor: pointer;
  transition: .3s ease-in;
}
.entrar:hover {
 background-color: #80b6c2;
 font-size: 16px;
 font-weight: 600;
 color: white !important; 
 transition: .7s ease-out;
}

/* parte direita */

.tela {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tela img {
  width: 50%;
  height: 50%;
  z-index: 1;
}

.circulo {
  height: 100vh;
  width: 100vh;
  background-color: #80b6c2;
  position: fixed;
  margin-top: 50%;
  margin-left: 100%;
  border-radius: 100%;
}

/*Breakpoint para mobile*/

@media(min-width: 360px) {
  body {
    flex-direction: column;
  }
  
  .formulario .entrar {
    width: 103px;
    height: 39px;
    border-radius: 25px;
    text-align: center;
    color: #80b6c2;
    border: 1;
    border-color: #80b6c2;
    cursor: pointer;
  }
  
  /* parte direita */
  
  .tela {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tela img {
    width: 200px;
    height: 200px;
    z-index: 1;
  }
  
  .circulo {
    height: 69vh;
    width: 70vh;
    background-color: #80b6c2;
    position: fixed;
    /* margin-top: 50%; */
    margin-left: 0%;
    margin-top: 100%;
    border-radius: 100%;
  } 

}

/* Breakpoint para tablet */

@media(min-width: 768px) {
  body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }
  
  /* parte direita */
  
  .tela {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tela img {
    width: 250px;
    height: 250px;
    z-index: 1;
  }
  
  .circulo {
    height: 100vh;
    width: 100vh;
    background-color: #80b6c2;
    position: fixed;
    margin-top: 50%;
    margin-left: 100%;
    border-radius: 100%;
  }
}

/* Breakpoint desktop */

@media(min-width: 1024px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
 
  
  /* parte direita */
  
  .tela {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tela img {
    width: 350px;
    height: 350px;
    z-index: 1;
  }
  
  .circulo {
    height: 100vh;
    width: 100vh;
    background-color: #80b6c2;
    position: fixed;
    margin-top: 50%;
    margin-left: 100%;
    border-radius: 100%;
  }
}

/* Breakpoint tela padrão */

@media(min-width: 1280px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formulario {
    height: 40%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario .form {
    width: 250px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    background-color: #80b6c2;
    color: white;
    border: 0;
  }
  
  .formulario input::placeholder {
    color: white;
  }
  
  .formulario .checkbox {
    display: flex;
  }
  
  .formulario .box {
    cursor: pointer;
  }
  
  .formulario .entrar {
    width: 150px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    color: #80b6c2;
    border: 1;
    border-color: #80b6c2;
    cursor: pointer;
  }
  
  /* parte direita */
  
  .tela {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tela img {
    width: 50%;
    height: 50%;
    z-index: 1;
  }
  
  .circulo {
    height: 100vh;
    width: 100vh;
    background-color: #80b6c2;
    position: fixed;
    margin-top: 50%;
    margin-left: 100%;
    border-radius: 100%;
  }
}