.separador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;

   .linha {
    width: 70vw;
    height: 1.6px;
    background-color: black;
  }
}

.inicio-footer {
  padding: 30px;
  display: flex;
  justify-content: center;
  text-align: center;

  .fique-dentro {
    font-size: 28px;
    margin-bottom: 10px !important;
    h2 {
      margin-bottom: 15px;
    }
  }

  .caixa-email {
    align-items: center;
    display: flex;
    gap: 12px;
  }

  button {
    width: 80px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #6db5c5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    margin-left: 10px;
  }

  button:active {
    cursor: pointer;
    box-shadow: inset 0px 0 8px 0 gray;
    transition: 0.2s ease-in-out;
  }

  input {
    height: 50px;
    padding: 15px;
    outline: none;
    border: solid 0.8px gray;
    border-radius: 10px;
    transition: 0.6s;
  }

  input:focus {
    border-radius: 10px;
    box-shadow: inset 0px 0 8px 0 gray;
    transition: 0.6s;
  }
}

.meio-footer {
  background-color: #6db5c5;
  height: fit-content;

  .blocos-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }

  .bloco {
    color: #ffffff;
    font-size: 14px;
    display: flex;
    padding: 8px;
  }
}

.fim-footer {
  .blocos-logo {
    background-color: #6db5c5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .bloco {
    display: flex;
    align-items: center;
    color: #ffffff;

     .titulo-footer {
      font-size: 27px;
    }
  }

  .bloco-redes {
    color: #ffffff;
    text-align: end;
  }
}
.imagem {
  display: flex;
  align-items: center;
  justify-content: start;
  .container {
    margin-right: 150px;
  }
}


.heart-rate{
	width: 80px;
	height: 73px;
	position: relative;
	margin: 20px auto;
}
.fade-in{
position: absolute;
width: 100%;
height: 100%;
background-color: #6db5c5a4;
top: 0;
right: 0;
animation: heartRateIn 3.5s linear infinite;
}

.fade-out{
position: absolute;
width: 120%;
height: 100%;
background-color: #6db5c5;
top: 0;
right: -120%;
animation: heartRateOut 3.5s linear infinite;
background: rgba(109, 181, 197, 1);
background: linear-gradient(to right,rgba(109, 181, 197, 1)0%, rgba(109, 181, 197, 1)80%,rgba(109, 181, 197, 0)100%);
}

@keyframes heartRateIn{
	0%{width: 100%;}
	50%{width: 0;}
	100%{width: 0;}
}
@keyframes heartRateOut{
	0%{left: -120%;}
	30%{left: -120%;}
	100%{left: 0;}
}


