@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap");

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
  /* overflow-x: hidden; */
}

*::-webkit-scrollbar-track {
  background-color: 3px solid rgba(255, 255, 255, 0.441);
}

*::-webkit-scrollbar-thumb {
  background-color: #33919a;
  border-radius: 40px;
}

body {
  overflow: hidden;
}

/* Inicio da estilização da header */
.bemvindo {
  background-image: url("../assets/images/image\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: static;

  height: 711px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  background-color: transparent;
  color: rgb(255, 255, 255);
  width: 100vw;

}

.logoHeader {
  height: fit-content;
  display: flex;

  color: rgb(255, 255, 255);
}

.logoHeader h1 {
  align-self: center;
}

#imagemLogo {
  width: 100px;
  height: 100px;
}

@keyframes navbarAnimationOpen {
  to {
    right: 0;
  }

  from {
    right: -135px;
  }
}

@keyframes navbarAnimationClose {
  to {
    right: -135px;
  }

  from {
    right: 0;
  }
}

.itensHeaderOpen {
  top: 80px;
  animation: navbarAnimationOpen 0.7s forwards;
}

.itensHeaderClose {
  top: 80px;
  animation: navbarAnimationClose 0.7s forwards;
}

.itensHeader {
  display: flex;
  gap: 20px;
  list-style: none;
  cursor: pointer;
  align-items: center;
}

.itensHeader li a {
  text-decoration: none;
  color: #fff;
}

ul li a:hover {
  color: #58a7b9;
  transition: 0.6s ease;
}

/* Fim da estilização da header */

/* Inicio da estilização da home */

.containerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 90vh;
  width: 100vw;

  gap: 10%;
}

.containerHome .textoHome {
  font-size: 60px;
  font-weight: 2px;
  color: #fff;
}

.containerHome .subtituloHome {
  align-self: center;

  font-size: 20px;
  font-weight: 5px;

  color: #fff;

  /* padding-top: 20px;
  padding-bottom: 5%; */
}

/* Estilização de botões */

.containerHome .botoesHome {
  width: 500px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.containerHome .botoesHome .botao {
  /* align-self: center; */

  gap: 20px;
  height: 40px;
  width: 220px;

  border: 0;
  border-radius: 10px;

  cursor: pointer;

  background-color: rgb(255, 255, 255);
  color: #58a7b9;
  box-shadow: 6px 6px 12px #7bc7d7, -6px -6px 12px #dcf4fa;

  transition: all 0.3s;
}

.containerHome .botoesHome .botao:hover {
  --edge-light: rgb(77, 143, 143);
  text-shadow: 0px 0px 10px var(--text-light);
  box-shadow: inset 0.4px 1px 4px var(--edge-light),
    2px 4px 8px hsla(182, 26%, 70%, 0.295);
  transform: scale(1.1);
}

.containerHome .botoesHome .botao:active {
  color: #99c3cf;
  box-shadow: inset 4px 4px 12px #97bdcd;
}

.containerHome .botoesHome #botaoTransparente {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

/* Fim estilizações de botões */

.blocos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  z-index: 1000;
}

.blocos .bloco {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: .5rem;
}

.blocos .bloco .descricao {
  text-align: justify;
  padding: 4%;
}

.blocos #blocoEsquerda {
  background-color: #fff;
  border: 2px;
  height: 300px;
  width: 400px;

  position: static;
  /* 
  box-shadow: 0px 2.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.6px 5.3px rgba(0, 0, 0, 0.028), 0px 12.4px 10px rgba(0, 0, 0, 0.035),
    0px 22.1px 17.9px rgba(0, 0, 0, 0.042),
    0px 41.4px 33.4px rgba(0, 0, 0, 0.05), 0px 99px 80px rgba(0, 0, 0, 0.07); */
  box-shadow: -1px -1px 20px 10px rgba(149, 187, 197, 0.78);
}

.blocos #blocoCentro {
  background-color: #fff;
  border: 2px;
  height: 400px;
  width: 400px;
  position: relative;
  /* box-shadow: -0.1px -0.1px 2.2px rgba(0, 0, 0, 0.025),
    -0.1px -0.1px 5.3px rgba(0, 0, 0, 0.036),
    0.2px 0.2px 10px rgba(0, 0, 0, 0.045),
    1.1px 1.1px 17.9px rgba(0, 0, 0, 0.054),
    3.7px 3.7px 33.4px rgba(0, 0, 0, 0.065), 30px 30px 80px rgba(0, 0, 0, 0.09); */
  box-shadow: -1px -1px 20px 10px rgba(149, 187, 197, 0.78);
}

.blocos #blocoDireita {
  background-color: #fff;
  border: 2px;
  height: 300px;
  width: 400px;
  /* box-shadow: 2.8px 2.8px 2.2px rgba(149, 187, 197, 0.421),
    6.7px 6.7px 5.3px rgba(149, 187, 197, 0.321),
    12.5px 12.5px 10px rgba(149, 187, 197, 0.33),
    22.3px 22.3px 17.9px rgba(149, 187, 197, 0.636),
    41.8px 41.8px 33.4px rgba(149, 187, 197, 0.492),
    100px 100px 80px rgba(149, 187, 197, 0.403); */
  box-shadow: -1px -1px 20px 10px rgba(149, 187, 197, 0.78);
}

/* Fim da estilização da home */

/*Breakpoint para mobile*/

@media(min-width: 640px) {
  .containerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: max-content;

    gap: 1rem;
  }

  .header {
    padding: 0 2rem;
  }

  .menu {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu img {
    width: 40px;
  }

  .itensHeader {
    flex-direction: column;
    cursor: pointer;
    background-color: #A9CAD1;
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.3rem 0 0 0.3rem;
    top: 80px;
    right: -135px;
  }

  .bemvindo {
    height: 600px;
  }

  .containerHome .botoesHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .containerHome .textoHome {
    font-size: 60px;
    font-weight: 2px;
    padding-bottom: 1%;
    color: #fff;
    text-align: center;
  }

  .blocos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;
    gap: 20px;
  }

  /*Sobre nós*/

  .sobreNos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .boxTexto {
    padding: 0 10%;
  }

  .boxTexto h1,
  .boxTexto p {
    text-align: center;
  }

  .boxMotivo {
    flex-direction: column;
  }

  .cardMotivo {
    width: 100% !important;
  }

  .detalhesTeam {
    flex-direction: column;
    align-items: center;
  }

  .blocos-logo {
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }

  .blocos-info {
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    height: 11vw;
  }

  .fim-footer .bloco {
    font-size: 12px;
    align-items: center;
    padding: 8px;
    text-align: center;
  }

  .blocos-info .bloco {
    gap: 20px;
  }

  .blocos-info .bloco img {
    width: 40px;
    height: 45px;
  }

}

@media (min-width: 1024px) {
  .header {
    position: absolute;
    justify-content: space-around;
  }

  .containerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: max-content;

    gap: 1rem;
  }

  .header {
    padding: 0 2rem;
  }

  .menu {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu img {
    display: none;
  }

  .itensHeader {
    flex-direction: row;
    background-color: transparent;
    position: static;
    padding: 0.5rem;
    border-radius: 0.3rem 0 0 0.3rem;
  }

  .containerHome .botoesHome {
    flex-direction: row;
  }

  .blocos {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -50px;
    gap: 0;
  }

  .boxMotivo {
    flex-direction: row;
  }

  .detalhesTeam {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .header {
    position: absolute;
    justify-content: space-around;
  }

  .containerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: max-content;

    gap: 1rem;
  }

  .header {
    padding: 0 2rem;
  }

  .menu {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu img {
    display: none;
  }

  .itensHeader {
    flex-direction: row;
    background-color: transparent;
    position: static;
    padding: 0.5rem;
    border-radius: 0.3rem 0 0 0.3rem;
  }

  .containerHome .botoesHome {
    flex-direction: row;
  }

  .blocos {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -50px;
    gap: 0;
  }

  .boxMotivo {
    flex-direction: row;
  }

  .detalhesTeam {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}